# Environment variables & secrets
.env
*.env
.env.local
.env.*.local
backend/.env

# Dependencies
node_modules/
frontend/node_modules/
venv/
backend/venv/

# Build & Dist
dist/
build/
*.egg-info/

# Databases & Cache
*.db
*.sqlite
__pycache__/
*.pyc

# IDE & OS
.DS_Store
.vscode/
.idea/
